<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cat/jiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1},{94,40}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,40}</string>
			</dict>
			<key>cat/jiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,97},{77,38}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,38}</string>
			</dict>
			<key>cat/shen1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{248,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,142}</string>
			</dict>
			<key>cat/shen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1},{248,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,142}</string>
			</dict>
			<key>cat/shen3.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1},{248,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,142}</string>
			</dict>
			<key>cat/tou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,144},{147,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,128}</string>
			</dict>
			<key>cat/tou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,95},{148,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,128}</string>
			</dict>
			<key>cat/tou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,144},{147,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,128}</string>
			</dict>
			<key>cat/wei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,144},{47,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,51}</string>
			</dict>
			<key>cat/wei2.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,144},{47,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,51}</string>
			</dict>
			<key>cat/wei3.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,144},{47,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,51}</string>
			</dict>
			<key>cat/yan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,144},{62,29}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,51}</string>
			</dict>
			<key>cat/yan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,144},{67,29}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,51}</string>
			</dict>
			<key>cat/yan3.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,176},{73,34}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,51}</string>
			</dict>
			<key>cat/yan4.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,175},{61,26}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,51}</string>
			</dict>
			<key>cat/yuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,144},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>cat/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,1},{225,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,95}</string>
			</dict>
			<key>cat/obs_tutle_ke.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,192},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,72}</string>
			</dict>
			<key>cat/obs_tutle_shou.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,95},{73,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,95}</string>
			</dict>
			<key>cat/obs_tutle_tou.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,251},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>
			<key>cat/obs_tutle_tui.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,144},{57,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,75}</string>
			</dict>
			<key>cat/obs_tutle_wei.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,193},{27,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cats.png</string>
			<key>realTextureFileName</key>
			<string>cats.png</string>
			<key>size</key>
			<string>{1022,305}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1022</integer>
			<key>height</key>
			<integer>305</integer>
		</dict>
	</dict>
</plist>