<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,184}</string>
                <key>spriteSourceSize</key>
                <string>{454,184}</string>
                <key>textureRect</key>
                <string>{{753,1243},{454,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_camera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,52}</string>
                <key>spriteSourceSize</key>
                <string>{67,52}</string>
                <key>textureRect</key>
                <string>{{1422,1113},{67,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,36}</string>
                <key>textureRect</key>
                <string>{{1324,1692},{40,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{1559,1150},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_random.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1480,670},{144,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_redo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1478,816},{144,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_remove.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{1478,962},{144,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{68,74}</string>
                <key>textureRect</key>
                <string>{{1092,1651},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{1389,1428},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,157}</string>
                <key>spriteSourceSize</key>
                <string>{412,157}</string>
                <key>textureRect</key>
                <string>{{753,1429},{412,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1107,1588},{60,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1508,1351},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1389,1646},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1473,1646},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{465,1672},{56,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{521,1672},{56,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,219}</string>
                <key>spriteSourceSize</key>
                <string>{220,219}</string>
                <key>textureRect</key>
                <string>{{1167,1429},{220,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,47}</string>
                <key>spriteSourceSize</key>
                <string>{267,47}</string>
                <key>textureRect</key>
                <string>{{753,1588},{267,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1559,1108},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-141.5,9.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{286,22}</string>
                <key>textureRect</key>
                <string>{{570,1651},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1549,1579},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,35.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{217,74}</string>
                <key>textureRect</key>
                <string>{{570,1651},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,46}</string>
                <key>spriteSourceSize</key>
                <string>{567,46}</string>
                <key>textureRect</key>
                <string>{{1,1624},{567,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_1\.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,85}</string>
                <key>spriteSourceSize</key>
                <string>{298,85}</string>
                <key>textureRect</key>
                <string>{{1505,1},{298,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132.5,152.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{268,308}</string>
                <key>textureRect</key>
                <string>{{570,1651},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1487,1579},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{1209,1243},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,29}</string>
                <key>spriteSourceSize</key>
                <string>{65,29}</string>
                <key>textureRect</key>
                <string>{{1574,1429},{65,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,85}</string>
                <key>spriteSourceSize</key>
                <string>{298,85}</string>
                <key>textureRect</key>
                <string>{{1393,515},{298,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,7}</string>
                <key>spriteSourceSize</key>
                <string>{41,7}</string>
                <key>textureRect</key>
                <string>{{1487,1536},{41,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>image_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1324,1650},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>image_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-90.5,98}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{184,199}</string>
                <key>textureRect</key>
                <string>{{570,1651},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ball_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{1587,411},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_ball_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1592,1},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bottom_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,126}</string>
                <key>spriteSourceSize</key>
                <string>{668,126}</string>
                <key>textureRect</key>
                <string>{{1217,515},{668,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_bottom_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{1505,411},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_grass_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,25}</string>
                <key>spriteSourceSize</key>
                <string>{44,25}</string>
                <key>textureRect</key>
                <string>{{570,1624},{44,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_grass_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{1345,1084},{26,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,123}</string>
                <key>spriteSourceSize</key>
                <string>{153,123}</string>
                <key>textureRect</key>
                <string>{{1480,515},{153,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_home_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,512}</string>
                <key>spriteSourceSize</key>
                <string>{750,512}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_load_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,46}</string>
                <key>spriteSourceSize</key>
                <string>{567,46}</string>
                <key>textureRect</key>
                <string>{{1345,515},{567,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_main_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1621}</string>
                <key>spriteSourceSize</key>
                <string>{750,1621}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1621}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_no_title_place.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,49}</string>
                <key>spriteSourceSize</key>
                <string>{334,79}</string>
                <key>textureRect</key>
                <string>{{1,1672},{320,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_over_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,726}</string>
                <key>spriteSourceSize</key>
                <string>{462,726}</string>
                <key>textureRect</key>
                <string>{{753,515},{462,726}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_over_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,83}</string>
                <key>spriteSourceSize</key>
                <string>{298,85}</string>
                <key>textureRect</key>
                <string>{{1393,815},{296,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_over_flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,241}</string>
                <key>spriteSourceSize</key>
                <string>{289,241}</string>
                <key>textureRect</key>
                <string>{{1217,1185},{289,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_revive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,32}</string>
                <key>spriteSourceSize</key>
                <string>{170,34}</string>
                <key>textureRect</key>
                <string>{{323,1672},{140,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{575,1651},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1037,1651},{53,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1162,1650},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{733,1651},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1022,1588},{61,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1243,1650},{79,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1508,1185},{71,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,71}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{964,1651},{77,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1497,1429},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,71}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1497,1506},{75,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{654,1651},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,71}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1508,1270},{79,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1478,1108},{79,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,69}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{1345,1113},{75,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{889,1651},{73,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{81,85}</string>
                <key>textureRect</key>
                <string>{{812,1651},{77,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>y_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,108}</string>
                <key>spriteSourceSize</key>
                <string>{98,110}</string>
                <key>textureRect</key>
                <string>{{1505,301},{96,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,108}</string>
                <key>spriteSourceSize</key>
                <string>{98,110}</string>
                <key>textureRect</key>
                <string>{{1389,1536},{96,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>res.png</string>
            <key>size</key>
            <string>{1604,1729}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a3309de0830f776ca81c1c4a42f985d:041fc60a14ee0325e2fdbd19b0935125:e9a6761e0eaed6cf539663e6dc49fb27$</string>
            <key>textureFileName</key>
            <string>res.png</string>
        </dict>
    </dict>
</plist>
